<div ng-show="movieBase" class="movieList">
  <!-- <ng-container *ngIf="films?.length > 0; else noTask">
    <ul class="display">
      <li *ngFor="let film of films" class="first">Tytuł: {{film.title}} <br>
        <button>Uruchomienie filmu</button>
        <iframe width="120" height="90" [src]="film.src" frameborder="0" allowfullscreen></iframe>
        <button (click)="remove(film.id)">Usuń</button>
        <button (click)="favorite(film.id)">Ulubione</button>
      </li>
    </ul>
  </ng-container> -->

  <ng-container>
    <ul class="display">
      <li class="first">Tytuł: <br>
        <button>Uruchomienie filmu</button>
        <!-- <iframe width="120" height="90" [src]="film.src" frameborder="0" allowfullscreen></iframe> -->
        <iframe width="120" height="90" src="https://www.youtube.com/embed/yGY7a3XKmjw" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- <button (click)="remove()">Usuń</button>
        <button (click)="favorite()">Ulubione</button> -->
      </li>
      <li class="first">Tytuł: <br>
        <button>Uruchomienie filmu</button>
        <!-- <iframe width="120" height="90" [src]="film.src" frameborder="0" allowfullscreen></iframe> -->
        <iframe width="120" height="90" src="https://www.youtube.com/embed/W22shY3A0Sk" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- <button (click)="remove()">Usuń</button>
        <button (click)="favorite()">Ulubione</button> -->
      </li>
      <li class="first">Tytuł: <br>
        <button>Uruchomienie filmu</button>
        <!-- <iframe width="120" height="90" [src]="film.src" frameborder="0" allowfullscreen></iframe> -->
        <iframe width="120" height="90" src="https://www.youtube.com/embed/73gq4yQIWfQ" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- <button (click)="remove()">Usuń</button>
        <button (click)="favorite()">Ulubione</button> -->
      </li>
      <li class="first">Tytuł: <br>
        <button>Uruchomienie filmu</button>
        <!-- <iframe width="120" height="90" [src]="film.src" frameborder="0" allowfullscreen></iframe> -->
        <iframe width="120" height="90" src="https://www.youtube.com/embed/QY0HcCXYyOk" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- <button (click)="remove()">Usuń</button>
        <button (click)="favorite()">Ulubione</button> -->
      </li>
      <li class="first">Tytuł: <br>
        <button>Uruchomienie filmu</button>
        <!-- <iframe width="120" height="90" [src]="film.src" frameborder="0" allowfullscreen></iframe> -->
        <iframe width="120" height="90" src="https://www.youtube.com/embed/AjrtRgZdzgU" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- <button (click)="remove()">Usuń</button>
        <button (click)="favorite()">Ulubione</button> -->
      </li>
      <li class="first">Tytuł: <br>
        <button>Uruchomienie filmu</button>
        <!-- <iframe width="120" height="90" [src]="film.src" frameborder="0" allowfullscreen></iframe> -->
        <iframe width="120" height="90" src="https://www.youtube.com/embed/Cb-gaZHYoLs" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- <button (click)="remove()">Usuń</button>
        <button (click)="favorite()">Ulubione</button> -->
      </li>
      <li class="first">Tytuł: <br>
        <button>Uruchomienie filmu</button>
        <!-- <iframe width="120" height="90" [src]="film.src" frameborder="0" allowfullscreen></iframe> -->
        <iframe width="120" height="90" src="https://www.youtube.com/embed/AjrtRgZdzgU" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- <button (click)="remove()">Usuń</button>
        <button (click)="favorite()">Ulubione</button> -->
      </li>
      <li class="first">Tytuł: <br>
        <button>Uruchomienie filmu</button>
        <!-- <iframe width="120" height="90" [src]="film.src" frameborder="0" allowfullscreen></iframe> -->
        <iframe width="120" height="90" src="https://www.youtube.com/embed/9c7HVMDp43s" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- <button (click)="remove()">Usuń</button>
        <button (click)="favorite()">Ulubione</button> -->
      </li>
      <li class="first">Tytuł: <br>
        <button>Uruchomienie filmu</button>
        <!-- <iframe width="120" height="90" [src]="film.src" frameborder="0" allowfullscreen></iframe> -->
        <iframe width="120" height="90" src="https://www.youtube.com/embed/N-ph5gmqkMc" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- <button (click)="remove()">Usuń</button>
        <button (click)="favorite()">Ulubione</button> -->
      </li>
    </ul>
  </ng-container>
  <!-- <ng-template #noTask>
    <p>W tym miejscu pojawi się twoja baza filmów</p>
  </ng-template> -->
</div>
