<div class="display">
  <ng-container *ngIf="films?.length > 0; else noTask">
    <ul>
      <li *ngFor="let task of films" class="first">Link do filmu: {{task.title}} <br>
        <button>Uruchomienie filmu</button>
        <iframe width="120" height="90" [src]="task.src" frameborder="0" allowfullscreen></iframe>
        <button (click)="remove(task.id)">Usuń</button>
        <button (click)="favorite(task.id)">Ulubione</button>

      </li>
    </ul>
  </ng-container>
  <ng-template #noTask>
    <p>W tym miejscu pojawią się twoje filmy.</p>
  </ng-template>
</div>
