.displayList {
  display: flex;
  flex-wrap: wrap;
  border: 4px solid black;
  height: 450px;
  background-color: white;
}

.tiles {
  font-size: 20px;
  width: 7vw;
}

.list-view {
  font-size: 20px;
  width: 5vw;
}

.list {
  background-color: tomato;
}

.list-wrapper {
  display: flex;
  background-color: white;
  flex-basis: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 90%;
  overflow: hidden;
}

.list-film {
  background-color: rgb(255, 248, 155);
  padding: 10px;
  margin: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px solid black;
  height: 13vh;
}

.grid-wrapper {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  height: 90%;
  overflow: hidden;
}

.grid-film {
  background-color: rgb(255, 248, 155);
  padding: 10px;
  margin: 10px;
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  border: 1px solid black;
  overflow: hidden;
  height: 17vh;
  width: 25vw;
  flex-basis: 45%;
}

iframe {
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 60%;
}

.view {
  position: relative;
  left: 82%;
  margin: 5px;
  width: 12vw;
  overflow: hidden;
  height: 4vh;
}
