.display {
  display: flexbox;
  border: 4px solid black;
  height: 90%;
  background-color: white;
  min-height: 40vh;
}

.first {
  display: block;
  position: relative;
  padding: 10px;
  margin: 20px;
  border: 2px solid black;
  height: 12vh;
  background-color: rgb(255, 253, 231);
  overflow: hidden;
}

iframe {
  position: relative;
  left: 70%;
  overflow: hidden;
}
