<div class="title">Video App</div>

<div class="search">
  <button class="add-movie" (click)="add()">Dodaj Film</button>
  <input [(ngModel)]="newTask">
</div>

<div class="movie">
  <div>
    <p>Moje filmy: </p>
    <button class="filtr-movie">Ulubione filmy</button>
    <button class="delete-videos">Usuń wszystkie filmy</button>

  </div>
  <div><br>
    <app-my-movies></app-my-movies>
    <!-- <p>Sortuj: </p> -->
    <!-- <button class="oldest-movies">Najstarsze filmy</button>
    <button class="added-movies"> Ostatnio dodane filmy</button> -->
  </div>
</div>
<section class="container">
  <div class="view">
    <button class="tiles">Kafelki</button>
    <button class="list-view">Lista</button>
  </div>
  <div class="display">
    <ng-container *ngIf="films.length > 0; else noTask">
      <ul>
        <li *ngFor="let task of films" class="first">Link do filmu: {{task}}
          <button>Uruchomienie filmu</button>
          <div class="mini-movie">Miniatura Filmu</div>
          <button (click)="remove(task)">Usuń</button>
          <button (click)="favorite(task)">Ulubione</button>
        </li>
      </ul>
    </ng-container>
    <ng-template #noTask>
      <p>W tym miejscu pojawią się twoje filmy.</p>
    </ng-template>
  </div>

  <div class="favorite-List">
    <p>Liczba ulubionych filmów: {{tasksFavorite.length}} </p>
    <ul>
      <li *ngFor="let task of tasksFavorite">{{task}}
        <button>Uruchomienie filmu</button>
        <div class="mini-movie">Miniatura Filmu</div>
        <button (click)="remove(tasksFavorite)">Usuń</button>

      </li>
    </ul>

  </div>

</section>
