.title {
  color: rgb(255, 162, 22);
  font-size: 70px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.oldest-movies {
  font-size: 20px;
  width: 15vw;
  margin: 0px 10px;
}

.added-movies {
  font-size: 20px;
  width: 15vw;
  margin: 0px 10px;
}

.container {
  margin: 5% 10%;
  padding: 20px;
  border: 6px solid black;
  background-color: rgb(255, 253, 231);
  overflow: hidden;
  min-height: 40%;
}

.display {
  border: 4px solid black;
  height: 90%;
  background-color: white;
  min-height: 40vh;
}

li {
  display: block;
  padding: 10px;
  margin: 20px;
  border: 2px solid black;
  height: 10vh;
  background-color: rgb(255, 253, 231);
}

.mini-movie {
  border: black solid 2px;
  position: relative;
  left: 85%;
  width: 10vw;
  height: 5vh;
  overflow: hidden;
}
