.title {
  color: rgb(255, 162, 22);
  font-size: 70px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  margin: 5% 10%;
  padding: 20px;
  border: 6px solid black;
  background-color: rgb(255, 253, 231);
  overflow: hidden;
  min-height: 40%;
}

FilmId {
  width: vw;
}
