<div class="title">Video App</div>

<div class="search">
  <button class="addfilm">Dodaj film</button>
  <input type="seaechfilm">
</div>

<div class="film">
  <h1>Moje filmy</h1>
  <button class="filterfilm">Ulubione filmy</button>
  <button class="sortfilm">Sortuj</button>
</div>

<section class="container">
  <div class="view">
    <button class="tiles">Kafelki</button>
    <button class="listview">Lista</button>
  </div>
  <div class="display">
    <ul>
      <li class="first">Tytuł filmu
        <button>Uruchomienie filmu</button>
        <div class="minifilm">Miniatura filmu</div>
        <button>usunięcie filmu</button>
        <button>dodanie do ulubionych</button>
      </li>
      <li class="first">kolejny film</li>
      <li class="first">kolejny film</li>
      <li class="first">kolejny film</li>
      <li class="first">kolejny film</li>

    </ul>
  </div>
</section>
