* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: rgba(58, 121, 150, 0.671);
  background: linear-gradient(to left, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.4) 100%),
    url(./image/Old-Movie-Projector.png);
  background-size: cover;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
